// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/** 
  * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
/**
  * Main content containers
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  width: 100%;
}
/**
  * Hide text while making it readable for screen readers
 */
.show {
  opacity: 1 !important;
  height: auto !important;
  pointer-events: all !important;
}
/**
  * Hide element while making it readable for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.chip {
  color: #317f63;
  background-color: #dffcf1;
  border-radius: 8px;
  padding: 5px 12px;
  font-weight: 600;
}