// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$main-color:#46a0ff;
$button-color:#4946f2;
$dark-1:#10141e;
$white: #FFF;
$gray: #808080;
$gray-0: #e6e6e6;

$background-color: #F4F4F4;

//?~~~~ ScrollBar Color ~~~~?//
$scrollbar-color: #ddd;
$scrollbar-track: #bbb;

//?~~~~ Switched Variables ~~~~?//
$border-radius: 10px;
