// ----------------------------------------------------------------------------
// When having several responsive themes, this file contains everything related to the
// Responsive one.
// ----------------------------------------------------------------------------

.mailerbook__nav {
  @include media("<large") {
    #responsove_menu {
      display: block !important;
    }
    .nav_menu {
      display: none !important;
    }
  }  
}

.home-hero_section {
  @include media(">=tablet", "<large") {
    .container-large {
      margin: 4em 0;
      .hero_card {
        grid-template-columns: 1fr 1fr !important;
          a {
            &:last-child {
              grid-template-columns: 1fr !important;
            }
        }
        
      }
      #animation-container {
        svg {
          display: none;
        }
      }
      .hero_tem {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        width: 80%;
        margin: auto;
      }
    }
    padding-bottom: 2em !important;
  }
  @include media("<tablet") {
    .container-large {
      margin: 4em 0;
      .hero_card {
        grid-template-columns: 1fr !important;
        text-align: center;
        .icon {
          margin: auto;
          margin-bottom: 2em !important;
        }
      }
      #animation-container {
        svg {
          display: none;
        }
      }
      .hero_tem {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        width: 80%;
        margin: auto;
      }
    }
  }
}

.book-lists {
  @include media("<Xlarge") {
    .container-large {
      #books {
        gap: 4em 1em !important;
      }
    }
  }
  @include media("<large") {
    .container-large {
      .card {
        .review_li,
        .div-block-3 {
          display: none;
        }
        .book-footer {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  @include media(">Small", "<Xtablet") {
    .container-large {
      #books {
        grid-template-columns: 1fr !important;
        .card {
          .review_li,
          .div-block-3 {
            display: flex !important;
          }
          .book-footer {
            grid-column-gap: 1rem !important;
            grid-row-gap: 1rem !important;
            display: flex !important;
            flex-direction: unset !important;
          }
        }
      }
    }
  }
  @include media("<=Small") {
    .container-large {
      #books {
        grid-template-columns: 1fr !important;
        .card {
          .review_li,
          .div-block-3 {
            display: none;
          }
          .book-body {
            img {
              display: none;
            }
            ul {
              grid-column: span 3 !important;
            }
          }
          .book-footer {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
.testimonial {
  @include media("<large") {
    img {
      display: none !important;
    }
    .container-large {
      text-align: center;
      br {
        display: none;
      }
      a {
        margin-top: 2em;
      }
    }
  }
}
.footer_page {
  @include media("<large") {
    .logo {
      width: 120px !important;
      margin: auto !important;
    }
    .footer3_bottom-wrapper {
      grid-template-columns: auto !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 1em !important;
      .footer3_credit-text {
        text-align: center !important;
      }
      .footer3_social-list {
        justify-self: center !important;
        .social-icon {
          height: 3em !important;
          width: 3em !important;
        }
      }
    }
  }
}
